.HomePage {
	color: white;
}

@media screen and (max-width: 768px) {
	.HomePage {
		&__gallery {
			margin-bottom: 3.5rem;
		}
	}
}

@media screen and (max-width: 320px) {
	.HomePage {
		&__gallery {
			margin-bottom: 3rem;
		}
	}
}
